datalake-dfdev/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datalake-dfdev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_Child_Raw_To_Bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Exec_Consolidating",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Child_Consolidating_Raw_To_Bronze",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PL_Param_FolderPath": {
									"value": "@pipeline().parameters.PL_Param_FolderPath",
									"type": "Expression"
								},
								"PL_Param_FolderPath_Sink": {
									"value": "@pipeline().parameters.PL_Param_FolderPath_Sink",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Exec_Archeiving",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Exec_Consolidating",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Child_Archeiving_Raw_To_Bronze",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"PL_Param_FolderPath": {
						"type": "string"
					},
					"PL_Param_FolderPath_Sink": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-24T15:26:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Split_Bronze_To_Silver')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DataFlow_Split_Bronze_To_Silver",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Split_Bronze_To_Silver",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SrcTAtables": {},
									"SinkHits": {},
									"SinkShards": {},
									"SinkHItsHits": {},
									"SinkSource": {},
									"SinkMessage": {},
									"SinkFact": {},
									"SinkDetails": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-20T10:17:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Master_ES_Raw_Bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Exec_Raw_To_Bronze",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Exec_ES_To_Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Child_Raw_To_Bronze",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PL_Param_FolderPath": {
									"value": "@pipeline().parameters.PL_Param_FolderPath",
									"type": "Expression"
								},
								"PL_Param_FolderPath_Sink": {
									"value": "@pipeline().parameters.PL_Param_FolderPath_Sink",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Exec_ES_To_Raw",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Child_Dumping_ES_To_Raw",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"PL_Param_FolderPath": {
						"type": "string"
					},
					"PL_Param_FolderPath_Sink": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-24T15:26:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Child_Raw_To_Bronze')]"
			]
		}
	]
}